In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
url = "https://classic.jobsearch.az/"

In [7]:
job_names = []
company_names= []
driver = webdriver.Edge()
driver.get(url)
time.sleep(5)
for i in range(20):
    driver.execute_script("window.scrollBy(0, 10000);")
    time.sleep(10)
html = driver.page_source
driver.quit()
trainings_soup = BeautifulSoup(html,'html.parser')

In [8]:
job = trainings_soup.findAll('h2',attrs={"class":"vacancies__title"})
for trainings_name in job:
    job_names.append(trainings_name.text)
work = trainings_soup.findAll('a',attrs={"class":"vacancies__provided"})
for trainings_name in work:
    company_names.append(trainings_name.text)

In [9]:
jobdata = pd.DataFrame(job_names,columns=["Job_name"])
comdata = pd.DataFrame(company_names,columns=["Company_name"])
data = pd.concat([jobdata,comdata],axis=1)

In [10]:
data.shape

(1800, 2)

In [11]:
data.head()

,Job_name,Company_name
0,Memar,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
1,Yaradıcı memar,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
2,Konstruktor,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
3,Satış məsləhətçisi (Elektronika –Ağdaş),ELIT.EO
4,B2B/ Xüsusi Əhəmiyyətli Şirkətlərə Satış üzrə...,T Telecom Company

In [12]:
data.tail()

,Job_name,Company_name
1795,Məlumat bazası və ödəniş sistemlərinə texniki...,Caspian Innovation Center
1796,Mağaza meneceri (Elektronika – İmişli),ELIT.EO
1797,Internal Auditor,Amal Group
1798,Marketing Project Manager,C Company
1799,MEP üzrə mühəndis,A AZCD Group QSC

In [13]:
df = data.drop_duplicates()

In [18]:
print('orginal data:',data.shape)
print('drop dublicates:',df.shape)

orginal data: (1800, 2)
drop dublicates: (1622, 2)

In [22]:
df.to_parquet('vacancies.parquet')

In [25]:
pd.read_parquet('vacancies.parquet')

,Job_name,Company_name
0,Memar,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
1,Yaradıcı memar,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
2,Konstruktor,"""Azərmemarlayihə"" Dövlət Baş Layihə İnstitutu"
3,Satış məsləhətçisi (Elektronika –Ağdaş),ELIT.EO
4,B2B/ Xüsusi Əhəmiyyətli Şirkətlərə Satış üzrə...,T Telecom Company
...,...,...
1794,Risklərin idarə olunması üzrə baş mütəxəssis,Azərpoçt
1795,Məlumat bazası və ödəniş sistemlərinə texniki...,Caspian Innovation Center
1796,Mağaza meneceri (Elektronika – İmişli),ELIT.EO
1797,Internal Auditor,Amal Group
1798,Marketing Project Manager,C Company